<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Subnet Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>


<body>
    <div class="container">
        <h1>IP Subnet Calculator</h1>
        <label for="org-name">Organization Name:</label>
        <input type="text" id="org-name" placeholder="Enter Organization Name">
        <button id="register-org">Register Organization</button><br>
        
        <label for="ip-address">Enter IP Address:</label>
        <input type="text" id="ip-address" placeholder="e.g., 192.168.1.10">
        
        <label for="subnet-mask">Enter Subnet Mask:</label>
        <input type="text" id="subnet-mask" placeholder="e.g., 255.255.255.0">
        
        <button id="calculate-btn">Calculate</button>
        
        <div id="result"></div>
        <button id="export-btn">Export Subnets</button>
        <h2>Subnet Allocation Visualization</h2>
        <canvas id="subnetChart"></canvas>
        <button id="load-chart">Load Chart</button>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
</html>